@model EFCoreDbFirst.Data.ModelsDB.ThingsModel
@{
    ViewData["Title"] = "編輯";
    string createTime = @Model.CreateTime.ToString("yyyy-MM-ddTHH:mm");
    string endTime = @Model.EndTime.ToString("yyyy-MM-ddTHH:mm");
}
<div class="text-center">
    <h1 class="display-4">@ViewData["Title"]</h1>
    <p>@ViewData["ResultMessage"]</p>
</div>
<br>

<form method="post" action="/Home/EditThing">
    <div>
        <label for="">編號</label>
        <div>
            <input type="text" name="Id" id="" value="@Model.Id" readonly>
        </div>
    </div>
    <div>
        <label for="">標題</label>
        <div>
            <input type="text" name="Title" id="" value="@Model.Title">
        </div>
    </div>
    <div>
        <label for="">創建時間</label>
        <div>
            <input type="datetime-local" name="CreateTime" id="" value="@createTime">
        </div>
    </div>
    <div>
        <label for="">截止時間</label>
        <div>
            <input type="datetime-local" name="EndTime" id="" value="@endTime">
        </div>
    </div>
    <br>
    @{
        Model.CreateTime = DateTime.Parse(createTime);       
        Model.EndTime = DateTime.Parse(endTime);       
    }
    <input type="submit" value="儲存">
</form>



