@model ShopWebsite.Data.Product
@{
    ViewData["Title"] = "Delete Prodcut Page";
}

<div class="text-center">
    <h1 class="display-4">刪除商品</h1>
</div>

<div>
    <form method="post" action="/Home/DeleteProduct" enctype="multipart/form-data">
        <div class="container">
            <div class="row form-group">
                <div class="col-6">
                    <input type="hidden" name="Id" id="" class="form-control" value="@Model.Id">
                    <label name="Name" class="control-label">商品名稱</label>
                    <input type="text" name="Name" id="" class="form-control" value="@Model.Name" disabled>
                </div>
                <div class="col-2">
                    <label name="CategoryId" class="control-label">商品類別</label>
                    <p>@Html.DropDownList("CategoryId",null,null,new{@disabled="disabled"})</p>
                </div>
            </div>
            <div class="row form-group">
                <div class="col-8">
                    <label name="Description" class="control-label">商品簡介</label>
                    <textarea name="Description" class="form-control" id="" cols="" rows="5" disabled>@Model.Description</textarea>
                </div>
                <div class="col-4">
                    <img src="/img/@Model.Image" style="max-height:200px;">
                </div>
            </div>
            <div class="row form-group">
                <div class="col-6">
                    <label name="Price" class="control-label">商品價格</label>
                    <input type="text" name="Price" id="" class="form-control" value="@Model.Price" disabled>
                </div>
                <div class="col-6">
                    <label name="Stock" class="control-label">商品庫存</label>
                    <input type="text" name="Stock" id="" class="form-control" value="@Model.Stock" disabled>
                </div>
            </div>
            <input type="submit" name="" id="" value="刪除" class="btn btn-danger">
            @Html.ActionLink("返回","ProductList",new{},new{@class="btn btn-secondary"})
        </div>
    </form>
</div>